{% extends "core/base.html" %}
{% block content %}
<div class="container">
    <div class="article-clean mb-4">
        <div class="row">
            <div class="col-lg-10 col-xl-8 offset-lg-1 offset-xl-2 mt-5">
                <div class="intro">
                    <img class="img-fluid" src="{{ post.image.url }}" alt="photo">
                    <h1 class="text-center">{{ post.title }}</h1>
                    <p class="text-center"><span class="by">by</span> <a href="#">{{ post.author }}</a><span
                        class="date">{{ post.created_date | date:"F d" }} </span></p>
                </div>
                <div class="text">
                    <p>{{ post.content }}</p>
                </div>
            </div>
        </div>
    </div>
    <div id="disqus_thread"></div>
    <script>
        (function () { // DON'T EDIT BELOW THIS LINE
            var d = document,
                s = d.createElement('script');
            s.src = 'https://genius-geeks-blog.disqus.com/embed.js';
            s.setAttribute('data-timestamp', +new Date());
            (d.head || d.body).appendChild(s);
        })();
    </script>
    <noscript>
        Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a>
    </noscript>
</div>
{% endblock %}