{% extends "core/base.html" %}
{% load crispy_forms_tags %}

{% block link %}
<form method="get" class="form-inline my-2 my-lg-0">
    <input class="form-control mr-sm-2" type="text" name="q" id="id_q" placeholder="Search" aria-label="Search">
    <button class="btn btn-primary my-2 my-sm-0 mr-5" type="submit">Search</button>
</form>
{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        {% if posts %}
            {% for post in posts %}
                {% include 'core/display/blog_post.html' with posts=post %}
            {% endfor %}
        {% else %}
            {% include 'core/display/blog_post.html' with query=query %}
        {% endif %}
        <div class="col-lg-4">
            <div class="blog_right_sidebar">
                <aside class="single_sidebar_widget popular_post_widget">
                    <h5 class="widget_title text-center">Recent Post</h5>
                    {% for post in posts %}
                    <ul class="timeline">
                        <li>
                            <h6><a href="{{ post.get_absolute_url }}">{{ post.title }}</a></h6>
                            <p
                                style="font-family: Quicksand, serif; font-weight:300 font-size:12.0pt; letter-apcing:1px">
                                {{ post.content|truncatewords:15 }}</p>
                        </li>
                    </ul>
                    {% endfor %}
                </aside>
                <aside class="single_sidebar_widget newsletter_widget">
                    <h5 class="widget_title text-center">Newsletter</h5>
                    <form method="post" action="#">
                        {% csrf_token %}
                        {{ form|crispy }}
                        <button class="btn btn-warning w-100" type="submit">Subscribe</button>
                    </form>
                </aside>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    document.getElementById("id_q").value = "{{query}}"
</script>
{% endblock %}